body {
  background-image: url("https://i.imgur.com/92iNc1a.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 490px;
  background: linear-gradient(black, rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  margin-top: 5px;
}

.elementos {
  margin-top: -20%;
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 1cm;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5cm;
}

/* Styling for transparent buttons */
.button {
  width: 150px;
  padding: 10px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 0; /* Set to 0 to make buttons rectangular */
  cursor: pointer;
  margin-bottom: 10px; /* Adjust the spacing between buttons */
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hover effect for transparent buttons */
.button:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
}

/* Styling for form elements */
form {
  margin-top: 20px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsiveness */
@media (max-width: 768px) {
  .container {
      max-width: 100%;
      padding: 10px;
  }
}
